In [40]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline
matplotlib.rcParams["figure.figsize"] = (20,10)

In [36]:
df= pd.read_csv('Bengaluru_House_Data.csv')
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [37]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [7]:
df.shape

(13320, 9)

In [8]:
df.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [9]:
df['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [10]:
df['area_type'].value_counts()

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64

**for dropping some value use drop funcN which is not required**

In [12]:
df1= df.drop(['area_type','availability','bath','balcony'],axis='columns')
df1.shape

(13320, 5)

In [13]:
df1

                       location       size  society total_sqft   price
0      Electronic City Phase II      2 BHK  Coomee        1056   39.07
1              Chikka Tirupathi  4 Bedroom  Theanmp       2600  120.00
2                   Uttarahalli      3 BHK      NaN       1440   62.00
3            Lingadheeranahalli      3 BHK  Soiewre       1521   95.00
4                      Kothanur      2 BHK      NaN       1200   51.00
...                         ...        ...      ...        ...     ...
13315                Whitefield  5 Bedroom  ArsiaEx       3453  231.00
13316             Richards Town      4 BHK      NaN       3600  400.00
13317     Raja Rajeshwari Nagar      2 BHK  Mahla T       1141   60.00
13318           Padmanabhanagar      4 BHK  SollyCl       4689  488.00
13319              Doddathoguru      1 BHK      NaN        550   17.00

[13320 rows x 5 columns]

In [16]:
df1.isnull().sum()

location         1
size            16
society       5502
total_sqft       0
price            0
dtype: int64

In [20]:
df2=df1.dropna()
df2.isnull().sum()

location      0
size          0
society       0
total_sqft    0
price         0
dtype: int64

In [21]:
df2.shape

(7804, 5)

In [27]:
df2['BHK'] = df2['size'].apply(lambda x: int(x.split(' ')[0]))
df2.bhk.unique()

C:\Users\Bishal Adhikary\AppData\Local\Temp\ipykernel_4240\4262335021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['BHK'] = df2['size'].apply(lambda x: int(x.split(' ')[0]))

array([ 2,  4,  3,  1,  5, 11,  9,  6,  7, 10,  8, 18], dtype=int64)

In [28]:
def is_float(x):
    try:
        float(x)
    except:
        return False
        return True

In [29]:
7+4

11

In [30]:
87.45+234

321.45

In [42]:
df2[df2['total_sqft'].apply(is_float)].head(10)

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [44]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [47]:
df4 = df2.copy()
df4.total_sqft = df4.total_sqft.apply(convert_sqft_to_num)
df4 = df4[df4.total_sqft.notnull()]
df4.head(10)

                    location       size  society  total_sqft   price  bhk  BHK
0   Electronic City Phase II      2 BHK  Coomee       1056.0   39.07    2    2
1           Chikka Tirupathi  4 Bedroom  Theanmp      2600.0  120.00    4    4
3         Lingadheeranahalli      3 BHK  Soiewre      1521.0   95.00    3    3
5                 Whitefield      2 BHK  DuenaTa      1170.0   38.00    2    2
6           Old Airport Road      4 BHK  Jaades       2732.0  204.00    4    4
7               Rajaji Nagar      4 BHK  Brway G      3300.0  600.00    4    4
11                Whitefield  4 Bedroom  Prrry M      2785.0  295.00    4    4
12        7th Phase JP Nagar      2 BHK  Shncyes      1000.0   38.00    2    2
14                  Sarjapur  3 Bedroom  Skityer      2250.0  148.00    3    3
15               Mysore Road      2 BHK  PrntaEn      1175.0   73.50    2    2

In [48]:
df4.loc[30]

location      Yelahanka
size              4 BHK
society         LedorSa
total_sqft       2475.0
price             186.0
bhk                   4
BHK                   4
Name: 30, dtype: object

In [49]:
(2000+2450)/2

2225.0

**Feature Engineering**

**Price per square_feet**

In [50]:
df5 = df4.copy()
df5['price_per_sqft'] = df5['price']*100000/df5['total_sqft']
df5.head()

,location,size,society,total_sqft,price,bhk,BHK,price_per_sqft
0,Electronic City Phase II,2 BHK,Coomee,1056.0,39.07,2,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,Theanmp,2600.0,120.00,4,4,4615.384615
3,Lingadheeranahalli,3 BHK,Soiewre,1521.0,95.00,3,3,6245.890861
5,Whitefield,2 BHK,DuenaTa,1170.0,38.00,2,2,3247.863248
6,Old Airport Road,4 BHK,Jaades,2732.0,204.00,4,4,7467.057101

In [51]:
df5_stats = df5['price_per_sqft'].describe()
df5_stats

count      7788.000000
mean       6048.170607
std        9007.897932
min         371.428571
25%        4299.345768
50%        5365.635943
75%        6761.519797
max      672727.272727
Name: price_per_sqft, dtype: float64

In [52]:
11-4

7

In [53]:
3*5

15

In [56]:
(6768)/2

3384.0

In [1]:
My nane is Bishal